#jiao{
	width:970px;
	position: relative;
	margin: 0 auto;
	padding-top:60px ;
	z-index: 20;
}
#jiao>div:first-child{
	min-width: 970px;
	width: 970px;
	height: 50px;
	background-image: url("../img/Ffooter-line.png");
	-webkit-background-size: 100% 36px;
	background-size: 100% 36px;
	position: absolute;
	top:-21px;
	z-index: 20;
	
}
#jiao>div:nth-child(2){
	width:100%;
	height:50px;
}
#jiao>div:nth-child(2)>a{
	color: #fff;
	vertical-align:middle;
	font-size:14px;
	margin-left: 50px;
}
#jiao>div:nth-child(2)>a:first-child{
	margin-left: 0;
}
#jiao>div:nth-child(2)>a:last-child{
	display: inline-block;
	padding-top:3px ;
}
#jiao>div:nth-child(2)>a>span{
	display:inline-block;
	width: 19px;
	height: 19px;
	margin-right: 10px;
}
#jiao>div:nth-child(2)>a:first-child>span{
	background-image: url("../img/cc.png");
	vertical-align:middle;
	
}
#jiao>div:nth-child(2)>a:last-child>span{
	background-image: url("../img/cc2.png");
	background-repeat: no-repeat;
	vertical-align:middle;
	width: 18px;
	padding-bottom: 3px;
}
#jiao>div:nth-child(2)>a:nth-child(2)>span{
	background-image: url("../img/cc1.png");
	vertical-align:middle;
}
#jiao>div:nth-child(3){
	width: 400px;
	padding-top:50px ;
	float: left;
}
#jiao>div:nth-child(3)>a{
	display: inline-block;
	width: 400px;
	height: 100px;
	background-image:url("../img/timg6.jpg");
	-webkit-background-size: 400px 100px;
	background-size: 400px 100px;
	background-repeat: no-repeat;
	
}
#jiao>div:nth-child(4){
	color:#04aeff;
	float: right;
	font-size:16px;
}
#jiao>div:last-child{
	color:#fff;
	clear: both;
	text-align: center;
	padding: 20px;
	font-size:12px;
}
